
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-filter input {
  height: 17px;
  width: 100%;
  font-size: 12px;
  margin: 0 auto;
  border: 3px solid #F6D4D2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 100vh;
  padding: 20px;
  width: 11%;
  position: absolute;
  height: 100%;
  z-index: 1;
  background-color: #170000;
  overflow-x: hidden;
  border-right: 5px solid #B175FF;
  border-left: 5px solid #F6D4D2;
  text-align: center;
}

.App-header h1{
  color: #B175FF;
  font-size: 1.5em;
}

.App-header h2 {
  color: #F6D4D2;
  font-size: 1.3em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

